*{
  box-sizing: border-box;
}
header {
  position: relative;
  z-index: 50;
}
.logo{
        cursor: pointer;
}

.logo img {
    margin-right: 0.6rem;
    margin-top: -0.1rem;
    width: 50px;
        border-radius: 100px;
        border-width: 04px;
        border-style: solid;
        float: left;
        object-fit: contain;
  }
  .logo h1 {
    color: red;
    text-decoration: underline;
    text-decoration-color: black;
}
.logo h2{
 color:gold;
 text-decoration: double;
}
.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.links a {
  color: black;
  margin-left: 4.5rem;
  display: inline-block;
}
.links a:hover {
  color: blue;
}
.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: blue;
}
main{
  background-image: url("images/backgroung.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}
.btn:hover{
  color: whitesmoke;
  box-shadow: 0 5px 15px whitesmoke;
}
.conent{
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h4{
  color: darkmagenta;
}
.hi{
  font-weight:900;
  color: black;
  text-align: center;
  width: 200px;
  height: 40px;
  overflow: hidden;
  background-color: red;
  position:fixed;
top: 24%;
left: 45%;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
.hey{
  color: blueviolet;
  text-align: center;
}
